[Unit]
Description=logstash {{ LOGSTASH_VERSION }}

[Service]
Type=simple
User=logstash
Group=logstash

ExecStart=/opt/logstash-{{ LOGSTASH_VERSION }}/bin/logstash "--path.settings" "/opt/logstash-{{ LOGSTASH_VERSION }}/config"
Restart=always
WorkingDirectory=/opt/logstash-{{ LOGSTASH_VERSION }}
Nice=19
LimitNOFILE=16384

# When stopping, how long to wait before giving up and sending SIGKILL?
# Keep in mind that SIGKILL on a process can cause data loss.
TimeoutStopSec=75

[Install]
WantedBy=multi-user.target
